.navbar {
    display: flex;
    justify-content: space-around;
    justify-content: flex-end;
    background-color: cornflowerblue;
    font-weight: bolder;
}

.navbar ul {
    margin-right: 50px;
}

.navbar ul li {
    display: inline-block;
    padding: 15px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
}